/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:rgb(231, 231, 231);  /* Color de fondo general */
    color: #333; /* Color de texto general */
    margin: 0;
    padding: 0;
}

/* Ocultar completamente el header en pantallas pequeñas */
@media (max-width: 991.98px) {
    header {
        display: none;
    }
}


/* Hacer el navbar sticky */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1030; /* Asegura que el navbar esté por encima de otros elementos */
}

/* Ajustar el espacio entre el navbar y la sección siguiente */
.index-section {
    margin-top: 2rem;
}

/* Estilos del navbar */
.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    color: #333;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: rgb(74, 78, 137);
    font-weight: bold;
}

/* Reducir el tamaño del botón en pantallas pequeñas */
@media (max-width: 767.98px) {
    .navbar-toggler {
        font-size: 0.875rem;
        padding: 0.25rem 0.75rem;
    }

    .navbar-brand {
        flex-grow: 1;
    }
}

.btn-rgb{
    color: white;
    background-color: rgb(169, 0, 0);
}
.btn-rgb:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(103, 0, 0)
}

/* Imagen responsive */
.responsive-img {
    max-width: 25rem; /* Tamaño máximo para pantallas grandes */
    width: 100%; /* Ajustar el ancho al contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-top: 1.25rem; /* Espacio arriba */
    margin-bottom: 1.25rem; /* Espacio abajo */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 48rem) {
    .responsive-img {
        max-width: 20rem; /* Reducir el tamaño máximo para pantallas medianas */
    }
}

/* Media query para pantallas muy pequeñas */
@media (max-width: 36rem) {
    .responsive-img {
        max-width: 15rem; /* Reducir aún más el tamaño máximo para pantallas pequeñas */
    }
}

iframe{
    border-radius: 15px;
    margin-bottom: 2rem;
}

.img-container {
    width: 100%;
    height: 400px; 
    overflow: hidden;
    border-radius: 15px; /* Bordes redondeados */
    position: relative;
    margin-bottom: 2rem; /* Espacio adicional debajo de la imagen */
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recorta la imagen para llenar el contenedor */
    transition: transform 0.3s ease; /* Animación de zoom */
}

.img-container img:hover {
    transform: scale(1.1); /* Zoom al pasar el cursor */
}

@media (max-width: 767.98px) {
    .index-section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .img-container {
        width: 100%;
        height: 200px; /* Ajusta la altura para pantallas pequeñas */
        margin-bottom: 1.5rem;
    }

    .img-container img {
        border-radius: 15px; /* Bordes redondeados */
    }

    .text-md-start {
        text-align: center !important;
    }
}

.index-section .row {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro de la fila */
}

.index-section .col-md-7 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido del texto */
}

/* Estilos para enlaces */
a {
    color: inherit; /* Color de enlaces heredado */
    text-decoration: none; /* Sin subrayado */
}
a:hover {
    color: #0056b3; /* Color al pasar el mouse */
}

/* Estilos para botones */
.btn-primary {
    color: #ffffff;
    background-color: rgb(117, 123, 208); 
    border-color: rgb(74, 78, 137);
}

.btn-primary:hover {
    color: rgb(74, 78, 137);
    background-color: rgb(175, 179, 238);
    border-color: rgb(117, 123, 208); 
}

/* Estilos para navbar */
.navbar-brand,
.navbar-nav .nav-link {
    color:  rgb(117, 123, 208); /* Color de texto para los enlaces del navbar */
    font-weight: bold; /* Hacer el texto más grueso */
}

.navbar-nav .nav-link:hover {
    color: rgb(74, 78, 137); /* Color de texto al pasar el cursor sobre los enlaces */
}



/* Estilo HEAD Productos*/
.header-product {
    margin-top: 1rem; /* Margen superior para el título */
    margin-bottom: 2rem; /* Margen inferior para el título */
    text-align: center; /* Centrar el texto */
    color: rgb(117,123,208); /*Color de texto*/
    font-weight: bold;
}

/* Estilos para tarjetas */
.card {
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.6s ease; /* Transición suave */
    overflow: hidden; /* Evitar que el contenido sobresalga */
    display: flex; /* Usa flexbox para alinear elementos verticalmente */
    flex-direction: column; /* Alinea los elementos en columna */
    height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
}

.card:hover {
    transform: scale(1.01); /* Aumentar tamaño al hacer hover */
    box-shadow: 0 0.5rem 1rem rgba(117, 123, 208, 0.347); /* Sombra al hacer hover */
}

.card-img-top {
    width: auto;
    height: 20rem;
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin deformarse */
    flex-shrink: 0; /* Evita que la imagen se contraiga en caso necesario */
    max-height: 200px; /* Altura máxima para las imágenes */
}

.card-body {
    flex: 1; /* La tarjeta ocupa todo el espacio disponible */
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    transition: color 0.3s ease-out; /* Transición para el color del título */
}

.card:hover .card-title {
    color: rgb(117, 123, 208); /* Cambiar color del nombre */
}

.card-text {
    margin-bottom: 1rem;
}

.card-footer {
    text-align: left;
}

.list-group-item {
    font-weight: bold;
}

/* Modal */
.modal-content {
    border-radius: .3rem;
}
.modal-title {
    font-weight: bold;
    color: #007bff;
}
.modal-body {
    text-align: center;
}
.modal-footer {
    justify-content: center;
}

/* Ajustes adicionales */
.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.header-productos {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #007bff;
}

/* Estilos específicos para el logo pequeño */
.logo-pequeno {
    max-width: 100px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto; /* Mantiene la proporción */
}

.modal-header {
    position: relative; /* Para posicionar la 'X' dentro del modal header */
}

.modal-content {
    background-color: #fff; /* Asegúrate de que el fondo del modal no sea transparente */
}