{% extends 'base.html' %}

{% block content %}
    <div class="about-section">
        <div class="row align-items-center">
            <div class="col-md-6 text-center mb-4 mb-md-0">
                <div class="about-image-column">
                    <img src="https://www.onceuponachef.com/images/2019/04/flan-760x934.jpg" alt="Nuestra Historia" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-text-column">
                    <h2>Nosotros, los OnlyFlaneros</h2>
                    <p>¡Ven y cómetelo todo en OnlyFlans! Aquí encontrarás los mejores flanes de la cuadra BB.</p>
                    <p>Somos una empresa familiar de OnlyFlaneros, buscamos deleitaros como usted lo merece, pues! ¡Qué es lo que busca? ¡Nosotros se lo tenemos! Trabajamos con los mejores huevos y leche para que te chupes hasta los dedos del pie 1313... ¡mi mamita hace los flanes más ricos!</p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}



