{% extends 'base.html' %}

{% block content %}
    <div class="about-container">

        <div class="about-section">
            <div class="about-image-column">
                <img src="https://www.onceuponachef.com/images/2019/04/flan-760x934.jpg" alt="Nuestra Historia">
            </div>
            <div class="about-text-column">
                <h2>Nosotros, los OnlyFlaneros</h2>
                <p>¿Te lo comerías todo en OnlyFans pero no te alcanza? ¡Ven y cómetelo todo en OnlyFlans! Aquí encontrarás los mejores flanes de la cuadra BB.</p>
                <p>Somos una empresa familiar de OnlyFlaneros, buscamos deleitaros como usted lo merece, pues! ¡Qué es lo que busca? ¡Nosotros se lo tenemos! ¿Su flancito al velador? Trabajamos con los mejores huevos y leche para que te chupes hasta los dedos del pie 1313... Y si bien en OnlyFans está lleno de mamitas.. ¡mi mamita hace los flanes más ricos!</p>
            </div>
        </div>

        <div class="about-section">
            <div class="about-image-column">
                <img src="https://static01.nyt.com/images/2023/09/01/multimedia/RM-flan-bqvp/RM-flan-bqvp-superJumbo.jpg" alt="Únete a Nuestra Comunidad">
            </div>
            <div class="about-text-column">
                <h2>Únete a Nuestra Comunidad de OnlyFlaneros</h2>
                <p>¡Ven pa'ca que acá te acogemos como un integrante más de la familia, la más buena pa'l flan!</p>
                <button class="btn btn-outline-rgb" href='#'>Haciendo click aquí</button>
            </div>
        </div>
    </div>
{% endblock %}



