
{% extends 'base.html' %}

{% block content %}
<section id="contacto" class="text-center my-5">
    <h1 class="mb-4">¿Te ayudamos? Escríbenos al FlanAyuda BB</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6" style="text-align: left;">
                <form action="/ayuda/" method="post" class="contact-form">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-primary w-100 mt-3">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}


