{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
        <h1 class="text-body-emphasis"><i class="fa-solid fa-heart"></i> Gracias por tu mensaje BB <i class="fa-solid fa-heart"></i></h1>
        <p class="col-lg-6 mx-auto mb-4">
            Pronto nos pondremos en contacto contigo!
        </p>
        <a href="/" class="btn btn-outline-rgb">
            Salir
        </a>
    </div>
</div>
{% endblock %}